.container {
  background-color: #af967e;
  padding-bottom: 4rem;
}

.h1 {
  color: #fff;
  padding: 3rem 0;
}
.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 0 5rem;
}
.designedImg {
  width: 250px;
  height: 180px;
  overflow: hidden;

  margin: 0.7rem;
  cursor: pointer;
}
.imgs {
  position: relative;
}

.showImg {
  width: 95vw;
  height: 45vh;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.showupImgWrapper {
  width: 80%;
  height: 90%;
  position: relative;
}

.closeIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

@media (min-width: 850px) {
  .showImg {
    width: 95vw;
    height: 65vh;
  }
}

@media (min-width: 1100px) {
}
